<form method="POST" action="buyact">
<table>
    <tr><td>斤數: <td><input type="text" id="weight" name="weight">
    <tr><td>日期: <td><input type="date" name="time" id="time" value={{time}}>
    <tr><td>價格: <td><input type="text" id="price" name="price"><td>元/斤
    <tr><td>種類: <td><select name="Class">
                        <option>請選擇柚子種類</option>
                        <option>文旦</option>
                        <option>白柚</option>
                        <option>蜜柚</option>
                        <option>西施柚:</option>
                        <option>葡萄柚</option>
                        <option>其它</option>
                      </select>
    <tr><td><input type="submit">
</table>
</form>