<form method="POST" action="sellact">
<table>
    <tr><td>斤數: <td><input type="text" id="weight" name="weight" value='0'>
    <tr><td>日期: <td><input type="date" id="time" name="time" value={{time}}>
    <tr><td>價格: <td><input type="text" id="price" name="price" value='0'><td>>元/斤
    <tr><td>買家: <td><input type="radio" name="company" value="黛莉貝爾">黛莉貝
爾
    <tr><td><td><input type="radio" name="company" value="果菜">果菜
    <tr><td><td><input type="radio" name="company" value="其他">其他

    <tr><td>種類: <td><select name = 'Class'>
                        <option>請選擇柚子種類</option>
                        <option>文旦</option>
                        <option>白柚</option>
                        <option>蜜柚</option>
                        <option>西施柚</option>
                        <option>葡萄柚</option>
                        <option>其他</option>
                      </select>